<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cuhk.mkt.mapper.biz.CourseMasterMapper">

    <select id="listCourseByCondition" parameterType="cn.edu.cuhk.mkt.param.biz.CourseMasterParam" resultType="cn.edu.cuhk.mkt.entity.biz.StudentCourseVO">
        SELECT
            cm.id AS id,
            CONCAT('Graduation Audit Self-check Form-', COALESCE(COALESCE(su.name_en, su.name_ch), '')) AS graduationForm,
            su.login_name AS studentId,
            su.name_en AS nameEn,
            su.name_ch AS nameCh,
            su.contact_tel AS contactTel,
            su.email AS email,
            cm.grade AS grade,
            cm.major AS major,
            cm.status,
            CASE
                WHEN cm.status IN(0) THEN 'Unfilled'
                WHEN cm.status = 1 THEN 'Submitted'
                WHEN cm.status = 2 THEN 'Rejected'
                WHEN cm.status = 3 THEN 'Acknowledged'
                WHEN cm.status = 4 THEN 'Invalid'
                ELSE ''
            END AS statusText,
            TO_CHAR(cm.student_submit_time,'YYYY-MM-DD') AS submitTime,
            cm.student_check_box AS studentCheckBox
        FROM
            biz_course_master cm
            JOIN sys_user su ON su.id = cm.student_id
        WHERE
            cm.remove_flag = 0
            AND su.remove_flag = 0
            <if test="condition.status != null and condition.status != '' ">
                AND cm.status = #{condition.status}
            </if>
            <choose>
                <when test="condition.timeType != null and condition.timeType == '0'">
                    <if test="condition.startTime != null and condition.startTime != '' ">
                        AND cm.student_submit_time <![CDATA[ >= ]]> #{condition.startTime}
                    </if>
                    <if test="condition.endTime != null and condition.endTime != '' ">
                        AND cm.student_submit_time <![CDATA[ <= ]]> #{condition.endTime}
                    </if>
                </when>
                <when test="condition.timeType != null and condition.timeType == '1'">
                    <if test="condition.startTime != null and condition.startTime != '' ">
                        AND cm.officer_checked_date <![CDATA[ >= ]]> #{condition.startTime}
                    </if>
                    <if test="condition.endTime != null and condition.endTime != '' ">
                        AND cm.officer_checked_date <![CDATA[ <= ]]> #{condition.endTime}
                    </if>
                </when>
                <otherwise></otherwise>
            </choose>
            <if test="condition.expectedGraduationTerm != null and condition.expectedGraduationTerm != '' ">
                AND su.expected_year = #{condition.expectedGraduationTerm}
            </if>
            <if test="condition.major != null and condition.major != '' ">
                AND cm.major = #{condition.major}
            </if>
            <if test="condition.grade != null and condition.grade != '' ">
                AND cm.grade LIKE CONCAT('%', #{condition.grade}, '%')
            </if>
            <if test="condition.studentCheckBox != null">
                AND cm.student_check_box = #{condition.studentCheckBox}
            </if>
            <if test="condition.fieldName != null and condition.fieldName != '' and condition.keyword != null and condition.keyword != '' ">
                <choose>
                    <when test="condition.fieldName == 'Student I.D'.toString()">
                        AND su.login_name LIKE CONCAT('%', #{condition.keyword}, '%')
                    </when>
                    <when test="condition.fieldName == 'Name'.toString()">
                        AND (
                            su.name_en LIKE CONCAT('%', #{condition.keyword}, '%')
                            OR
                            su.name_ch LIKE CONCAT('%', #{condition.keyword}, '%')
                        )
                    </when>
                </choose>
            </if>
            order by cm.updated_date desc
    </select>

    <select id="listCourseMktReport" parameterType="cn.edu.cuhk.mkt.param.CommonParam" resultType="cn.edu.cuhk.mkt.entity.report.MktCourseReport">
        SELECT
        su.login_name AS sid,
        COALESCE(su.name_en, su.name_ch) AS name,
        COALESCE(cm.major, cm.major) AS major,
        COALESCE(cm.grade, cm.grade) AS grade,
        (case when su.international_student = 1 then 'Y' when su.international_student = 0 then 'N' else '' end ) AS internationalStudent,
        (
            select
            STRING_AGG(DISTINCT concat(t3.category_name,'_',t2.course_code), E'\r\n')
            from biz_course_master t1
            left join biz_course_detail t2 on t1.id = t2.course_master_id and t1.remove_flag = 0
            left join biz_course_category t3 on t3.category_code = t2.course_category_code and t3.remove_flag = 0 and t3.major = t1.major and t3.grade = t1.grade
            where 1=1
            and t1.id = cm.id
            and t2.course_category_code = 'Civic Education Course'
            and t2.progress = 1
        ) as progress1,
        (
            select
            STRING_AGG(DISTINCT concat(t3.category_name,'_',t2.course_code), E'\r\n')
            from biz_course_master t1
            left join biz_course_detail t2 on t1.id = t2.course_master_id and t1.remove_flag = 0
            left join biz_course_category t3 on t3.category_code = t2.course_category_code and t3.remove_flag = 0 and t3.major = t1.major and t3.grade = t1.grade
            where 1=1
            and t1.id = cm.id
            and t2.course_category_code = 'Civic Education Course'
            and t2.progress = 2
        ) as progress2,
        (
            select
            STRING_AGG(DISTINCT concat(t3.category_name,'_',t2.course_code), E'\r\n')
            from biz_course_master t1
            left join biz_course_detail t2 on t1.id = t2.course_master_id and t1.remove_flag = 0
            left join biz_course_category t3 on t3.category_code = t2.course_category_code and t3.remove_flag = 0 and t3.major = t1.major and t3.grade = t1.grade
            where 1=1
            and t1.id = cm.id
            and t2.course_category_code = 'Civic Education Course'
            and t2.progress = 3
        ) as progress3,
        0 AS totalUnitsPassed,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'University Core'
        AND cd.self_check in('1')
        ) AS ucPass,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'University Core'
        AND cd.self_check in('2')
        ) AS ucNr,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'University Core'
        AND cd.self_check in('3')
        ) AS ucIp,
        (
        select COALESCE(t3.units,0)
        from biz_course_detail t1
        left join biz_course_template t2 on t1.course_template_id = t2.id
        left join biz_course_category t3 on t2.course_category_id = t3.id
        where
        t1.course_master_id = cm.id
        and t1.course_category_code = 'University Core'
        limit 1
        ) AS ucLeft,
        (
        select COALESCE(STRING_AGG(course_code, E'\r\n' ORDER BY course_code asc),'') from biz_course_detail
        where course_master_id = cm.id
        and course_category_code = 'University Core'
        and self_check = '0'
        and remove_flag = 0
        ) AS ucRemark,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'School Package'
        AND cd.self_check in('1')
        ) AS spPass,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'School Package'
        AND cd.self_check in('2')
        ) AS spNr,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'School Package'
        AND cd.self_check in('3')
        ) AS spIp,
        (
        select COALESCE(t3.units,0)
        from biz_course_detail t1
        left join biz_course_template t2 on t1.course_template_id = t2.id
        left join biz_course_category t3 on t2.course_category_id = t3.id
        where
        t1.course_master_id = cm.id
        and t1.course_category_code = 'School Package'
        limit 1
        ) AS spLeft,
        (
        select COALESCE(STRING_AGG(course_code, E'\r\n' ORDER BY course_code asc),'') from biz_course_detail
        where course_master_id = cm.id
        and course_category_code = 'School Package'
        and self_check = '0'
        and remove_flag = 0
        ) AS spRemark,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'Major Required Courses'
        AND cd.self_check in('1')
        ) AS mrPass,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'Major Required Courses'
        AND cd.self_check in('2')
        ) AS mrNr,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Major Required Courses'
        AND cd.self_check in('3')
        ) AS mrIp,
        (
        select COALESCE(t3.units,0)
        from biz_course_detail t1
        left join biz_course_template t2 on t1.course_template_id = t2.id
        left join biz_course_category t3 on t2.course_category_id = t3.id
        where
        t1.course_master_id = cm.id
        and t1.course_category_code = 'Major Required Courses'
        limit 1
        ) AS mrLeft,
        (
        select COALESCE(STRING_AGG(course_code, E'\r\n' ORDER BY course_code asc),'') from biz_course_detail
        where course_master_id = cm.id
        and course_category_code = 'Major Required Courses'
        and self_check = '0'
        and remove_flag = 0
        ) AS mrRemark,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'Major Elective Courses'
        AND cd.self_check in('1')
        AND UPPER(TRIM(cd.part)) = 'A'
        ) AS meaPass,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd.course_category_code = 'Major Elective Courses'
        AND cd.self_check in('2')
        AND UPPER(TRIM(cd.part)) = 'A'
        ) AS meaNr,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Major Elective Courses'
        AND cd.self_check in('3')
        AND UPPER(TRIM(cd.part)) = 'A'
        ) AS meaIp,
        (
        select COALESCE(t3.units,0)
        from biz_course_detail t1
        left join biz_course_template t2 on t1.course_template_id = t2.id
        left join biz_course_category t3 on t2.course_category_id = t3.id
        where
        t1.course_master_id = cm.id
        and t1.course_category_code = 'Major Elective Courses'
        AND UPPER(TRIM(t3.part)) = 'A'
        limit 1
        ) AS meaLeft,
        (
        select t3.title
        from biz_course_detail t1
        left join biz_course_template t2 on t1.course_template_id = t2.id
        left join biz_course_category t3 on t2.course_category_id = t3.id
        where
        t1.course_master_id = cm.id
        and t1.course_category_code = 'Major Elective Courses'
        AND UPPER(TRIM(t3.part)) = 'A'
        limit 1
        ) AS meaUnits,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Major Elective Courses'
        AND cd.self_check in('1')
        AND UPPER(TRIM(cd.part)) = 'B'
        ) AS mebPass,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Major Elective Courses'
        AND cd.self_check in('2')
        AND UPPER(TRIM(cd.part)) = 'B'
        ) AS mebNr,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Major Elective Courses'
        AND cd.self_check in('3')
        AND UPPER(TRIM(cd.part)) = 'B'
        ) AS mebIp,
        (
        select COALESCE(t3.units,0)
        from biz_course_detail t1
        left join biz_course_template t2 on t1.course_template_id = t2.id
        left join biz_course_category t3 on t2.course_category_id = t3.id
        where
        t1.course_master_id = cm.id
        and t1.course_category_code = 'Major Elective Courses'
        AND UPPER(TRIM(t3.part)) = 'B'
        limit 1
        ) AS mebLeft,
        (
        select t3.title
        from biz_course_detail t1
        left join biz_course_template t2 on t1.course_template_id = t2.id
        left join biz_course_category t3 on t2.course_category_id = t3.id
        where
        t1.course_master_id = cm.id
        and t1.course_category_code = 'Major Elective Courses'
        AND UPPER(TRIM(t3.part)) = 'B'
        limit 1
        ) AS mebUnits,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Free Elective'
        AND cd.self_check in('1')
        ) AS fePass,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Free Elective'
        AND cd.self_check in('2')
        ) AS feNr,
        (
        SELECT COALESCE(SUM(COALESCE(cd.units, 0)),0)
        FROM biz_course_detail cd
        WHERE cd.course_master_id = cm.id
        AND cd .course_category_code = 'Free Elective'
        AND cd.self_check in('3')
        ) AS feIp,
        (
        select COALESCE(units,0) from biz_course_category where major in (
        select DISTINCT t2.major from biz_course_detail t1
        left join biz_course_master t2 on t1.course_master_id = t2.id
        where t2.id = cm.id
        and t1.course_category_code = 'Free Elective'
        ) and category_code = 'Free Elective'
        limit 1
        ) AS feLeft,
        cm.reason AS remarks
        FROM
        biz_course_master cm
        LEFT JOIN sys_user su ON su.id = cm.student_id
        WHERE
        cm.remove_flag = 0
        AND cm.status IN(1, 3)
            <if test="param.ids != null and param.ids.size() > 0">
                AND cm.id IN
                <foreach collection="param.ids" item="item" open="(" separator="," close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
    </select>


    <select id="reportPage" resultType="cn.edu.cuhk.mkt.entity.biz.CourseExportVO" parameterType="cn.edu.cuhk.mkt.entity.biz.CourseExportVO">
        select
            t2.grade
             ,t1.major
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major),0) as total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 1),0) as submit_total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 0),0) as unfilled_total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 1 and student_check_box = 1),0) as self_declaration_total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 3),0) as officer_checked_total
        from biz_course_master t1
                 left join sys_user t2 on t1.student_id = t2.id
        where 1=1
          and t1.remove_flag = 0
          and t2.remove_flag = 0
        group by t2.grade,t1.major
    </select>

    <select id="reportList" resultType="cn.edu.cuhk.mkt.entity.biz.CourseExportVO" parameterType="cn.edu.cuhk.mkt.entity.biz.CourseExportVO">
        select
            t2.grade
             ,t1.major
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major),0) as total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 1),0) as submit_total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 0),0) as unfilled_total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 1 and student_check_box = 1),0) as self_declaration_total
             ,COALESCE((select sum(1) from biz_course_master where remove_flag = 0 and major = t1.major and status = 3),0) as officer_checked_total
        from biz_course_master t1
                 left join sys_user t2 on t1.student_id = t2.id
        where 1=1
          and t1.remove_flag = 0
          and t2.remove_flag = 0
        group by t2.grade,t1.major
    </select>

</mapper>